.add-blog {
  width: 100%;
  .add-blog-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    margin-bottom: 50px;

    button {
      padding: 12px 40px;
    }
  }
}
