.login-page {
  width: 100%;
  min-height: calc(100vh - 150px);
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  max-width: 1440px;
  margin: auto;

  .signup-img {
    width: 40%;
    img {
      width: 100%;
    }
  }
}
